body {
    background: #151515;
}

h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

p {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}