@charset "UTF-8";

@media screen and (min-width: 768px) {
    #menu-icon {
        display: none;
    }

    menu {
        display: block;
    }

    menu ul {
        padding: 10px;
    }

    menu ul li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}